body {
  background: #252528;
}
.menu_order {
  list-style: none;
  line-height: 42px;

  padding-left: 0;
  width: 15em;
}
.menu_order___a {
  display: block;
  width: 100%;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
}
.menu_order__li {
  box-shadow: 3px 0 rgba(255, 255, 255, 0.2) inset;
  margin-bottom: 5px;
  padding-left: 1.5em;
  transition: all 0.5s;
}
.menu_order__li:hover {
  box-shadow: 15em 0 rgba(255, 255, 255, 0.2) inset;
}
.menu {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: -18em;
  top: 0;
  z-index: 20;
  height: 100%;
}
.mostrar {
  left: 0;
}
.mostrar-nav {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 0.5em;
  right: 1em;
  z-index: 30;
  background: red;
}
.mostrar-nav__conte {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono_menu {
  font-size: 1.7em;
  color: black;
}
.nav-ico {
  display: none;
}

@media (min-width: 360px) and (max-width: 500px) {
  main {
    padding-top: 2.3rem;
  }
}
